<template>
  <div class="dashboard">
    <div class="row dashboard-tiles">
      <DashboardTile subtitle="10% more compared to last month" icon="cog" v-model="amountBooked">
        <ShipmentStatus value="booked" class="h3" show-text="true"/>
      </DashboardTile>

      <DashboardTile
        subtitle="you need more 15 shipments to beat your goal"
        icon="cog"
        v-model="amountConfirmed"
      >
        <ShipmentStatus value="confirmed" class="h3" show-text="true"/>
      </DashboardTile>

      <DashboardTile subtitle="Perfect! 10% above the target" icon="cog" v-model="amountFinished">
        <ShipmentStatus value="finished" class="h3" show-text="true"/>
      </DashboardTile>
    </div>

    <div class="row">
      <div class="shipments card col-md">
        <div class="card-body">
          <div class="card-title">
            <span class="h3">Your Shipments</span>

            <div class="float-right">
              <ShipmentsFilter v-model="filter" @change="applyFilter()"/>
            </div>
          </div>

          <div class="itens">
            <ShipmentsList v-model="shipments" @change="onShipmentChange($event)"/>
          </div>

          <!-- <span class="h3">Shipment Details</span>
          <ShipmentDetails v-model="shipment"/>-->
        </div>
      </div>

      <div class="card col-md">
        <div class="card-body">
          <div class="card-title">
            <span class="h3">Shipment Details</span>
          </div>
          <ShipmentDetails v-model="shipment"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./Dashboard.ts"></script>

<style scoped lang="scss">
.dashboard {
  padding: 25px;
}

.dashboard-tiles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  > * {
    min-width: 425px;
  }
}

.shipments {
  margin-right: 15px;
  .card-title {
    margin-bottom: 20px;
  }

  .itens {
    max-height: 500px;
    overflow: scroll;
  }
}
</style>
