<template>
  <div class="signin-page">
    <div class="card">
      <div class="card-body">
        <div class="overlay" v-if="loading">
          <div class="overlay__inner">
            <div class="overlay__content">
              <span class="spinner"></span>
            </div>
          </div>
        </div>

        <div class="card-tile">
          <img src="../assets/logo-dark.png" height="40" alt>
        </div>
        <hr>

        <div class="text-center">
          <p>Sign in to access our platform</p>

          <span class="text-danger">{{errorMessage}}</span>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" v-model="email">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" v-model="password">
        </div>

        <div>
          <button
            class="btn btn-primary"
            :class="{ disabled: !submitEnabled() }"
            @click="onSignInClick()"
          >Sign In</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./SignIn.ts"></script>

<style scoped lang="scss">
$main-color: #12374f;

.signin-page {
  background-color: $main-color;
  height: 100%;
  padding-top: 60px;

  .card-tile {
    text-align: center;
    margin-bottom: 25px;
  }

  .card {
    width: 350px;
    margin: 0 auto;
  }
}

// Source: https://codepen.io/oksana-khristenko/pen/apzvxp
.overlay {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fafafacc;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: $main-color;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
</style>
