<template>
  <div class="card" :class="bgColor">
    <div class="space-between">
      <slot>
        <span class="h3">{{title}}</span>
      </slot>
      <span class="h1">{{value}}</span>
    </div>
    <p>{{subtitle}}</p>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class DashboardTile extends Vue {
  @Prop() bgColor!: string;
  @Prop() title!: string;
  @Prop() subtitle!: string;
  @Prop() value!: string;
}
</script>

<style scoped lang="scss">
.card {
  padding: 10px 25px;
}
</style>
