<template>
  <form>
    <!-- <div class="form-group">
      <label>Orign</label>
      <SelectPorts/>
    </div>

    <div class="form-group">
      <label>Destination</label>
      <SelectPorts/>
    </div>

    <div class="form-group">
      <label>ETA</label>
      <input type="date" class="form-control">
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" value="lcl" v-model="model.type">
      <label class="form-check-label form-check-inline">LCL</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" value="fcl" v-model="model.type">
      <label class="form-check-label">FCL</label>
    </div>

    <div class="form-group">
      <label></label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label></label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label></label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label></label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label></label>
      <input type="text" class="form-control">
    </div>-->
  </form>
</template>

<script lang="ts" src="./ShipmentForm.ts"></script>

<style scoped lang="scss">
</style>


  
  
  
