<template>
  <span :class="color()" class="text-capitalize">
    <font-awesome-icon :icon="icon()"/>
    <span v-if="showText">{{value}}</span>
  </span>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ShipmentStatus extends Vue {
  @Prop() showText!: boolean;
  @Prop() value!: string;

  iconMap: any = {
    confirmed: "ship",
    booked: "clock",
    finished: "check",
    fallback: "archive"
  };

  colorMap: any = {
    confirmed: "",
    booked: "",
    finished: ""
  };

  icon() {
    let value = !this.value ? "fallback" : this.value;
    return this.iconMap[value];
  }

  color() {
    //return this.colorMap[this.value];
  }
}
</script>

<style scoped lang="scss">
span :first-child {
  margin-right: 8px;
}
</style>
