<template>
  <div>
    <h5>
      Reference
      <small>{{value.reference}}</small>
    </h5>

    <div class="details-list space-between">
      <div>
        <div class="details">
          <strong>Type</strong>
          <span>{{ value.cargo_type | uppercase }}</span>
        </div>

        <div class="details">
          <strong>Status</strong>
          <ShipmentStatus :value="value.status" :show-text="true"/>
        </div>
      </div>

      <div>
        <div class="details">
          <strong>Origin</strong>
          <span>{{value.origin}}</span>
        </div>

        <div class="details">
          <strong>Destination</strong>
          <span>{{value.destination}}</span>
        </div>
      </div>

      <div>
        <div class="details">
          <strong>ETD</strong>
          <span>{{value.planned_etd}}</span>
        </div>

        <div class="details">
          <strong>ETA</strong>
          <span>{{value.planned_eta}}</span>
        </div>
      </div>
    </div>

    <div class>
      <h5>Cargo Units</h5>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Payload</th>
            <th>Dimensions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="unit in value.cargo_units" v-bind:key="unit.id">
            <td>{{unit.payload}} Kg</td>
            <td>
              <strong>W:</strong>
              {{unit.dimension_x}}m,
              <strong>H:</strong>
              {{unit.dimension_y}}m,
              <strong>D:</strong>
              {{unit.dimension_z}}m,
              <strong>Vol:</strong>
              {{ volume(unit) }}m³
            </td>
            <td class="text-center space-between">
              <span title="Stackable" data-toggle="tooltip" v-if="unit.stackable">
                <font-awesome-icon icon="layer-group" class="text-success"/>
              </span>

              <span title="Not Stackable" data-toggle="tooltip" v-if="!unit.stackable">
                <font-awesome-icon icon="layer-group" class="text-danger"/>
              </span>

              <span title="Dangerous" data-toggle="tooltip" v-if="unit.dangerous">
                <font-awesome-icon icon="exclamation-triangle" class="text-success"/>
              </span>

              <span title="Not Dangerous" data-toggle="tooltip" v-if="!unit.dangerous">
                <font-awesome-icon icon="exclamation-triangle" class="text-danger"/>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import jQuery from "jquery";

import { Shipment, CargoUnit } from "../providers/shipment-provider";
import ShipmentStatus from "./ShipmentStatus.vue";

@Component({
  components: {
    ShipmentStatus
  }
})
export default class ShipmentDetails extends Vue {
  @Prop() value!: Shipment;

  mounted() {
    this.enableTooltips();
  }

  volume(unit: CargoUnit) {
    const volume = unit.dimension_x * unit.dimension_y * unit.dimension_z;
    return volume != 0 ? volume : "--";
  }

  enableTooltips() {
    jQuery('[data-toggle="tooltip"]').tooltip();
  }
}
</script>

<style scoped lang="scss">
.details-list {
  margin-bottom: 15px;
}
.details strong {
  margin-right: 10px;
}
</style>
