<template>
  <table class="table table-hover">
    <tbody>
      <tr
        v-for="item in value"
        v-bind:key="item.id"
        @click="onItemClick(item)"
        :class="{ active: item.id == seletedId }"
      >
        <td>
          <ShipmentStatus :value="item.status" :showText="false" class="pull-right"/>
          {{ item.reference }}
        </td>

        <td>From {{ item.origin }}</td>
        <td>To {{ item.destination }}</td>
        <td>ETD {{ item.planned_eta }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts" src="./ShipmentsList.ts"></script>

<style scoped lang="scss">
.table {
  tr {
    cursor: pointer;
    &:hover,
    &.active {
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
}
</style>

