<template>
  <div class="shipments-filter">
    <span
      class="filter-text"
      @click="onToggleFilterClick"
    >Cargo Type: {{cargoTypeText()}} Status: {{statusText()}}</span>

    <button class="btn btn-muted" @click="onToggleFilterClick" :class="{ 'text-primary': visible }">
      <font-awesome-icon icon="filter"/>
    </button>

    <div class="form" v-if="visible">
      <div class="form-group">
        <label>Status</label>
        <select v-model="value.status" @change="onChange" class="form-control">
          <option value>All</option>
          <option value="booked">Booked</option>
          <option value="confirmed">Confirmed</option>
          <option value="finished">Finished</option>
        </select>
      </div>

      <div class="form-group">
        <label>Cargo Type</label>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="type"
              value
              v-model="value.type"
              @change="onChange"
            >
            <label class="form-check-label">All</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="type"
              value="lcl"
              v-model="value.type"
              @change="onChange"
            >
            <label class="form-check-label">LCL</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="type"
              value="fcl"
              v-model="value.type"
              @change="onChange"
            >
          </div>
          <label class="form-check-label">FCL</label>
        </div>
      </div>
      <div>
        <hr>
        <button class="btn btn-outline-secondary btn-sm float-right" @click="onCloseClick()">Close</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

export interface IShipmentsFilter {
  text: string;
  status: string;
  type: string;
}

@Component
export default class ShipmentsFilter extends Vue {
  @Prop() value!: IShipmentsFilter;

  visible: boolean = false;
  filterText: string = "";

  onChange() {
    this.$emit("change", this.value);
  }

  onCloseClick() {
    this.visible = false;
  }

  onToggleFilterClick() {
    this.visible = !this.visible;
  }

  cargoTypeText() {
    return this.value.type != "" ? this.value.type.toUpperCase() : "All";
  }

  statusText() {
    return this.value.status != "" ? this.value.status.toUpperCase() : "All";
  }
}
</script>

<style scoped lang="scss">
.filter-text {
  cursor: pointer;
}
.shipments-filter {
  display: inline-block;
  min-width: 300px;
}

.form {
  position: absolute;
  background: #f8f8f8;
  min-width: 273px;
  z-index: 1;
  padding: 15px;
}
</style>
