<template>
  <div id="app">
    <header v-if="authenticated">
      <div class="navbar navbar-dark bg-main shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="./assets/logo.png" height="30" alt style="margin-right: 10px;">
            <strong></strong>
          </a>
        </div>
        <a href="#" class="btn btn-link" @click="onSignOut()">
          <font-awesome-icon icon="sign-out-alt"/>SignOut
        </a>
      </div>
    </header>

    <main class="container-fluid" v-if="authenticated">
      <DashboardPage/>
    </main>

    <SignInPage @sign-in="onSignIn" v-if="!authenticated"/>
  </div>
</template>

<script lang="ts" src="./App.ts"></script>

<style lang="scss">
$main-color: #12374f;

html,
body,
#app {
  height: 100%;
  margin: 0px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-spacearound {
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
}
.bg-main {
  background-color: $main-color;
}
</style>
